@import "_settings.scss";
body {
  font-family: "Noto Serif JP", serif;
}
.header {
  color: white;
}
.main-visual {
  height: 100vh;
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.header-menu {
  flex-direction: row-reverse;
  writing-mode: vertical-rl;
  position: absolute;
  @include pc {
    top: 60px;
    right: 80px;
  }
  img {
    width: 40px;
  }
  .logo {
    margin-left: 60px;
  }
  li:not(:last-child) {
    margin-left: 25px;
  }
}
.online__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  width: 68px;
  height: 257px;
  color: white;
  writing-mode: vertical-rl;
  position: absolute;
  @include pc {
    bottom: 38px;
    left: 48px;
  }
  a {
    display: inline-block;
    text-align: center;
    width: 52px;
    height: 240px;
    padding: 20px 15px 20px 15px;
    border: 1px solid #cccccc;
  }
}
main {
  background-color: #e6e2d7;
}
.container {
  max-width: 1024px;
  margin: auto;
}
.news__wrapper {
  writing-mode: vertical-rl;
  margin-right: 0;
  margin-left: auto;
  dl {
    margin-right: 100px;
    margin-top: 270px;
  }
  dd {
    border-left: 1px solid black;
    padding: 20px 10px 20px 30px;
    font-size: 15px;
  }
  dt {
    padding: 20px 30px 20px 0px;
    font-size: 12px;
  }
  dt:first-child {
    border-right: 1px solid black;
  }
}
.wrapper__title1 {
  margin-top: 180px;
}
.title {
  font-size: 36px;
}
.sub-title {
  font-size: 12px;
}
.wrapper__title {
  writing-mode: vertical-rl;
}
.main__wrapper {
  margin-top: 180px;
}
.create_science {
  display: flex;
}
.create_science:nth-child(odd) {
  flex-direction: row-reverse;
}

.create__image {
  max-width: 639px;
  height: 426px;
}
