/*** The new CSS reset - version 1.5.1 (last updated 1.3.2022) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

img {
  width: 100%;
  vertical-align: top;
}

body {
  font-family: "Noto Serif JP", serif;
}

.header {
  color: white;
}

.main-visual {
  position: relative;
  height: 100vh;
}
.main-visual img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 751px) {
  .main-visual .pc {
    display: block !important;
  }
  .main-visual .sp {
    display: none !important;
  }
}
@media (max-width: 750px) {
  .main-visual {
    width: 100%;
  }
  .main-visual .pc {
    display: none !important;
  }
  .main-visual .sp {
    display: block !important;
  }
}

.header-menu {
  flex-direction: row-reverse;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  position: absolute;
}
@media (min-width: 751px) {
  .header-menu {
    top: 60px;
    right: 80px;
  }
}
@media (max-width: 750px) {
  .header-menu {
    top: 20px;
    right: 25px;
  }
}
.header-menu .logo {
  width: 40px;
  margin-left: 60px;
}
.header-menu li:not(:last-child) {
  margin-left: 25px;
}

.online__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  width: 68px;
  height: 257px;
  color: white;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  position: absolute;
}
@media (min-width: 751px) {
  .online__btn {
    bottom: 38px;
    left: 48px;
  }
}
@media (max-width: 750px) {
  .online__btn {
    bottom: 20px;
    left: 20px;
  }
}
.online__btn a {
  display: inline-block;
  text-align: center;
  width: 52px;
  height: 240px;
  padding: 20px 15px 20px 15px;
  border: 1px solid #cccccc;
}

main {
  background-color: #e6e2d7;
}

@media (min-width: 751px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}

.news__wrapper {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media (min-width: 751px) {
  .news__wrapper {
    margin-right: 0;
    margin-left: auto;
  }
  .news__wrapper dl {
    margin-right: 100px;
    margin-top: 270px;
  }
  .news__wrapper dd {
    border-left: 1px solid black;
    padding: 20px 10px 20px 30px;
    font-size: 15px;
  }
  .news__wrapper dt {
    padding: 20px 30px 20px 0px;
    font-size: 12px;
  }
  .news__wrapper dt:first-child {
    border-right: 1px solid black;
  }
}

.wrapper__title1 {
  margin-top: 180px;
}

.title {
  font-size: 36px;
  margin-bottom: 18px;
}

.sub-title {
  font-size: 12px;
}

.wrapper__title {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  display: flex;
  align-items: center;
}

.main__wrapper {
  margin-top: 180px;
}

.create_science {
  display: flex;
  position: relative;
}

.create_science:nth-child(odd) {
  flex-direction: row-reverse;
}

@media (min-width: 751px) {
  .create__image {
    max-width: 639px;
    height: 426px;
    margin-top: 100px;
    margin-bottom: 180px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (min-width: 751px) {
  .create__text1 {
    max-width: 358px;
    height: 137px;
    background-color: rgba(249, 233, 6, 0.6);
    opacity: 1;
    color: white;
    padding: 50px 110px;
    font-size: 16px;
    position: absolute;
    top: 410px;
    left: 290px;
  }
}

@media (min-width: 751px) {
  .create__text2 {
    max-width: 358px;
    height: 137px;
    background-color: rgba(149, 42, 38, 0.6);
    opacity: 1;
    color: white;
    padding: 50px 110px;
    font-size: 16px;
    position: absolute;
    top: 410px;
    right: 290px;
  }
}

footer {
  background-color: black;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
}

.footer-menu {
  flex-direction: row-reverse;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  margin-right: 0;
  margin-left: auto;
  padding-top: 80px;
}
.footer-menu address {
  text-orientation: upright;
  font-size: 14px;
  line-height: 25px;
}
.footer-menu .logo {
  width: 40px;
  margin-right: 80px;
  margin-left: 60px;
}
.footer-menu li:not(:last-child) {
  margin-left: 25px;
}
.footer-menu .footer-list {
  margin-right: 60px;
  font-size: 16px;
}

.footer__btn {
  font-size: 14px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  padding-top: 80px;
  padding-left: 30px;
}
.footer__btn .online {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.footer__btn .inquiry {
  padding-top: 5px;
}

small {
  display: block;
  text-align: center;
  padding-bottom: 30px;
  font-size: 10px;
}/*# sourceMappingURL=sousaku.css.map */