@import "_settings.scss";
body {
  font-family: "Noto Serif JP", serif;
}
.header {
  color: white;
}
.main-visual {
  height: 100vh;
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.header-menu {
  flex-direction: row-reverse;
  writing-mode: vertical-rl;
  position: absolute;
  @include pc {
    top: 60px;
    right: 80px;
  }
  .logo {
    width: 40px;
    margin-left: 60px;
  }
  li:not(:last-child) {
    margin-left: 25px;
  }
}
.online__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  width: 68px;
  height: 257px;
  color: white;
  writing-mode: vertical-rl;
  position: absolute;
  @include pc {
    bottom: 38px;
    left: 48px;
  }
  a {
    display: inline-block;
    text-align: center;
    width: 52px;
    height: 240px;
    padding: 20px 15px 20px 15px;
    border: 1px solid #cccccc;
  }
}
main {
  background-color: #e6e2d7;
}
.container {
  max-width: 1024px;
  margin: auto;
}
.news__wrapper {
  writing-mode: vertical-rl;
  margin-right: 0;
  margin-left: auto;
  dl {
    margin-right: 100px;
    margin-top: 270px;
  }
  dd {
    border-left: 1px solid black;
    padding: 20px 10px 20px 30px;
    font-size: 15px;
  }
  dt {
    padding: 20px 30px 20px 0px;
    font-size: 12px;
  }
  dt:first-child {
    border-right: 1px solid black;
  }
}
.wrapper__title1 {
  margin-top: 180px;
}
.title {
  font-size: 36px;
  margin-bottom: 18px;
}
.sub-title {
  font-size: 12px;
}
.wrapper__title {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
}
.main__wrapper {
  margin-top: 180px;
}
.create_science {
  display: flex;
  position: relative;
}
.create_science:nth-child(odd) {
  flex-direction: row-reverse;
}

.create__image {
  max-width: 639px;
  height: 426px;
  margin-top: 100px;
  margin-bottom: 180px;
  margin-right: 20px;
  margin-left: 20px;
}
.create__text1 {
  max-width: 358px;
  height: 137px;
  background-color: #f9e90699;
  opacity: 1;
  color: white;
  padding: 50px 110px;
  font-size: 16px;
  position: absolute;
  top: 410px;
  left: 290px;
}
.create__text2 {
  max-width: 358px;
  height: 137px;
  background-color: #952a2699;
  opacity: 1;
  color: white;
  padding: 50px 110px;
  font-size: 16px;
  position: absolute;
  top: 410px;
  right: 310px;
}
footer {
  background-color: black;
  color: white;
}
.footer {
  display: flex;
  flex-direction: row-reverse;
}
.footer-menu {
  flex-direction: row-reverse;
  writing-mode: vertical-rl;
  margin-right: 0;
  margin-left: auto;
  padding-top: 80px;
  address {
    text-orientation: upright;
    font-size: 14px;
    line-height: 25px;
  }

  .logo {
    width: 40px;
    margin-right: 80px;
    margin-left: 60px;
  }
  li:not(:last-child) {
    margin-left: 25px;
  }
  .footer-list {
    margin-right: 60px;
    font-size: 16px;
  }
}
.footer__btn {
  font-size: 14px;
  writing-mode: vertical-rl;
  padding-top: 80px;
  padding-left: 30px;
  .online {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }
  .inquiry {
    padding-top: 5px;
  }
}
small {
  display: block;
  text-align: center;
  padding-bottom: 30px;
  font-size: 10px;
}
